{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="hero-unit">
  <h1>Welcome to {{[[ project_title ]]}}!</h1>
  <p>This project doesn't have much content yet, but it will soon!</p>
</div>
<div class="row">
  <div class="span4">
    <h2>Already a user?</h2>
     <p>Just sign in with your existing user account here.</p>
    <p><a class="btn" href="{% url auth_login %}">Sign in &raquo;</a></p>
  </div>
  <div class="span4">
    <h2>Want to register?</h2>
     <p>Registration is easy. Just enter your user info and you're all set.</p>
    <p><a class="btn" href="{% url registration_register %}">Sign up &raquo;</a></p>
 </div>
  <div class="span4">
    <h2>Connect with Facebook</h2>
    <p>If you don't want to bother with signing up, just connect your Facebook account and you're all set.</p>
    <p><a class="btn" href="{% url home %}">Connect Facebook &raquo;</a></p>
  </div>
</div>
{% endblock %}
