{% extends 'base.html' %}
{% block title %}Sign in - {{[[ project_title ]]}}{% endblock %}
{% block content %}
<div class="row-fluid">
    <div class="span12">
        <div class="page-header">
            <h1>Please Sign In</h1>
            <div><br>Need an account? <a href="{% url registration_register %}">Sign up</a></div>
        </div>
        <form class="form" method="POST" action="{% url auth_login %}">{% csrf_token %}
            {{ form }}
            <div>
                <input type="submit" class="btn btn-primary" value="Sign In">
            </div>
        </form>
    </div>
</div><!--/row-->
{% endblock %}
